<configuration>
  <!-- Configurações gerais do aplicativo -->
  <appSettings>
    <!-- Configurações para o servidor SMTP -->
    <add key="smtp:Host" value="smtp-mail.outlook.com" />
    <add key="smtp:Port" value="587" />
    <add key="smtp:UserName" value="pastelldahora@outlook.com" />
    <add key="smtp:Password" value="Smn123#@!" />
    <add key="smtp:EnableSsl" value="true" />
    <add key="smtp:From" value="pastelldahora@outlook.com" />
  </appSettings>

  <!-- Configurações do ASP.NET -->
  <system.web>
    <!-- Configuração de compilação e runtime -->
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- Configuração de autenticação baseada em formulários -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="30" />
    </authentication>

    <!-- Módulos HTTP -->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <!-- Configuração de binding de assemblies -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Redirecionamento de versões para System.Web.Helpers -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

      <!-- Redirecionamento de versões para System.Web.WebPages -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

      <!-- Redirecionamento de versões para System.Web.Mvc -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <!-- Redirecionamento de versões para Newtonsoft.Json -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- Configurações do CodeDom -->
  <system.codedom>
    <compilers>
      <!-- Configuração do compilador C# -->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />

      <!-- Configuração do compilador VB.NET -->
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <!-- Configurações do servidor web -->
  <system.webServer>
    <!-- Desabilita a validação da configuração do modo integrado -->
    <validation validateIntegratedModeConfiguration="false" />

    <!-- Configuração de módulos no servidor web -->
    <modules>
      <!-- Remove e adiciona o módulo de rastreamento do Application Insights -->
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>
