@{
    ViewBag.Title = "Perfil do Usuário";
}

<h2>Perfil do Usuário</h2>
<p>ID: @ViewBag.Id</p>
<p>Nome: @ViewBag.Username</p>
<p>Email: @ViewBag.Email</p>
<p>Perfil ID: @ViewBag.IdPerfil</p> <!-- Adicione esta linha -->
