<div id="div-grid-enderecos"></div>
<script type="text/javascript" src="~/Lib/endereco/endereco.js?d=@DateTime.Now.Ticks"></script>
<script>
      // chamar as views
        endereco.init({
            urls: {
               
            }
        });

</script>
