@{
    ViewData["Title"] = "Sobre";
}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-custom text-center">
    <div class="container">
        <h1 class="display-4"> Sobre o projeto</h1>
    </div>
</div>

<!-- Main Content -->
<div class="container ">
    <!-- Visão Geral -->
    <section id="overview" class="my-5">
        <p class="">
            Olá! Meu nome é Moisés Warlen e estou desenvolvendo o projeto "Pastelaria  PastelDaHora" como parte do meu aprendizado em programação em C# para web e API.
            O projeto "Pastelaria PastelDaHora" tem como objetivo criar uma aplicação web utilizando C# para gerenciar tarefas e cadastrar usuários em uma pastelaria fictícia. Além disso,
            será desenvolvida uma API RESTful.
        </p>
    </section>

    <!-- Funcionalidades -->
    <section id="features" class="my-5">
        <h2 class="text-center">Funcionalidades Principais</h2>

            Sistema para cadastro, edição, exclusão e visualização de usuários e tarefas da pastelaria.
            Capacidade de registrar novas tarefas e usuarios.
    </section>

    <!-- Tecnologias Utilizadas -->
    <section id="technologies" class="my-5">
        <h2 class="text-center">Tecnologias Utilizadas</h2>
     
            <strong>C# e ASP.NET Core:</strong> Utilização do framework ASP.NET Core para o desenvolvimento da aplicação web e API.
            <strong>HTML5, CSS, JavaScript e AJAX:</strong> Utilização destas tecnologias para requisições, além de Bootstrap para design responsivo das telas e botões.
            <strong>Banco de Dados SQL Server:</strong> Utilização do SQL Server para armazenamento seguro dos dados da aplicação.
        
    </section>
</div>
