@{
    ViewData["Title"] = "Home";
}
<!-- Jumbotron -->
<div class="jumbotron jumbotron-custom text-center">
    <div class="container">
        <h1 class="display-4">Bem-vindo à Pastelaria PastelDaHora</h1>
        <p class="lead">Gerencie suas tarefas e usuários de forma eficiente com nossa aplicação web.</p>
    </div>
</div>
<!-- Main Content -->
<div class="container ">
    <!-- Visão Geral -->
    <section id="overview" class="my-5">
        <h2 class="text-center">Visão Geral do Projeto</h2>
        <p class="text-center">
            O projeto "Pastelaria Pastel Da Hora" foi desenvolvido em  C#
            com objetivo de  gerenciar tarefas e cadastrar usuários em uma pastelaria fictícia.
            permitindo integrações futuras com outros sistemas e dispositivos.
        </p>
    </section>
    <!-- Funcionalidades -->
    <section id="features" class="my-5">
        <h2 class="text-center">Funcionalidades Principais</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="feature-icon mb-3">
                    <i class="fas fa-users"></i>
                </div>
                <h5>Sistema de Usuários</h5>
                <p>Cadastro, edição, exclusão e visualização de usuários.</p>
            </div>
            <div class="col-md-4">
                <div class="feature-icon mb-3">
                    <i class="fas fa-tasks"></i>
                </div>
                <h5>Gerenciamento de Tarefas</h5>
                <p>Capacidade de registrar, editar e excluir tarefas.</p>
            </div>
            <div class="col-md-4">
                <div class="feature-icon mb-3">
                    <i class="fas fa-lock"></i>
                </div>
                <h5>Autenticação Segura</h5>
                <p>Sistema de autenticação com controle de acesso baseado em funções.</p>
            </div>
        </div>
    </section>
</div>

